.home-header{
    margin: 0%;
    display:block;
    background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.home{
    margin: 0%;
    display:flex;
}
.portal{
     display: flex;
     justify-content: center;
     font-size: 3rem;
     text-align: center;
     padding: 4%;
}
