*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.header{
    display:block;
    text-align: center;
    
}
.Title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 4rem !important;
}

.btn{
    margin-right: 20px;
    margin-top: 20px;
    height: 60px;
    width: 180px;
}

.headerImg{
    height:70%;
    width:70%;
    float:right;
}
.img{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 2%;

}
.img h1{
    font-size: 5rem;
    color: rgb(223, 191, 13);
}